---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<Layout title="catalogue">
    <main>
        <h1>---Catalogue---</h1>
        <img src="pc3.jpeg" width="204px" />
        <img src="pc2.jpg" width="204px" />
    </main>
</Layout>
