---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<Layout title="components">
    <main>
        <section>
            <div id="ima">
                <h1>Components PC</h1>
                <img src="procesador.webp" alt="procesador" width="300px" />
                <img src="placa de video.jpg" width="300px" />
                <img src="placamadre.jpg" width="300px" />
            </div>
        </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 25px;
        max-width: 60ch;
    }
    h1 {
        display: flex;
        color: #3a5f64;
        font-size: 25px;
        margin: auto;
        justify-content: center;
    }
    #ima {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>
