---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<Layout title="components">
    <main>
        <h1>Components PC</h1>
        <img src="procesador.webp" alt="procesador" width="300px" />
        <img src="placa de video.jpg" width="300px" />
        <img src="placamadre.jpg" width="300px" />
    </main>
</Layout>

<style>
    main {
        padding: 25px;
    }
    h1 {
        color: #e53734;
        font-size: 50px;
    }
</style>
