---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to SpacePC</h1>
		<section>
			<div id="col">
				<img src="lslsls.jpg" />
				<div class="cards">
					<Card
						href="https://discord.com/login"
						title="Discord Community"
						body="Join our community for more"
					/>
					<Card
						href="https://www.instagram.com/"
						title="Instagram page"
						body="Join our instagram page and enjoy"
					/>
					<Card
						href="https://es-la.facebook.com/"
						title="Facebook Page"
						body="Join our facebook page and enjoy  "
					/>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
		color: #3a5f64;
	}

	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media (min-width: 768px) {
		.cards {
			display: flex;
			flex-direction: row;
		}
	}

	main {
		margin: auto;
		padding: 25px;
		max-width: 60ch;
	}
	#col {
		display: flex;
		flex-direction: column;

		gap: 17px;
	}
</style>
