---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="">
			<nav class="" id="nav-bar" aria-label="Top">
				<div class="">
					<a href="/" class="">
						<img src="pngwing.com.png" id="logo" width="35|px" /></a
					>
				</div>
				<div id="burguer" class="">
					<button class="relative group">
						<div
							class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all bg-slate-700 ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
						>
							<div
								class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden group-focus:-translate-y-1.5 group-focus:-rotate-90"
							>
								<div
									class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg] group-focus:w-2/3 delay-150"
								>
								</div>
								<div
									class="bg-white h-[2px] w-7 rounded transform transition-all duration-300 group-focus:translate-x-10"
								>
								</div>
								<div
									class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg] group-focus:w-2/3 delay-150"
								>
								</div>
							</div>
						</div>
					</button>
				</div>
				<div id="menu" class="">
					<a href="/" class="">Home</a>
					<a href="/catalogue" class="">Catalogue</a>
					<a href="/component" class="">Components</a>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>
<style>
	#nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px;
		background-color: #1089b1;
		flex-wrap: wrap;
	}
	#menu {
		display: none;
		width: 100%;
		margin: 6px;
		flex-direction: column;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;

		gap: 25px;
	}

	@media (min-width: 768px) {
		#menu {
			display: flex;
		}
		#burguer {
			display: none;
		}
	}
</style>

<script is:inline>
	const burguer = document.getElementById("burguer");
	burguer.addEventListener("click", function () {
		const menu = document.getElementById("menu");
		if (window.getComputedStyle(menu).display === "none") {
			menu.style.display = "flex";
		} else {
			menu.style.display = "none";
		}
	});
</script>
